<html>
	<head>
		<title>Feelometer Input Page</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/buttons.css" />
		<meta name="viewport" content="width=device-width, initial-scale=0.5">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
		<script src="/javascripts/fscreen.js"></script>
		<script src="/javascripts/buttons.js"></script>
	</head>
	<body>
		<div id="menu">
			<input type="checkbox" />
			<div>
				<ul>
					<a href="/">View Results</a>
					<li onclick="setupPrompt(true)">Re-enter configuration</li>
					<li onclick="toggleFullscreen()">Toggle Fullscreen</li>
				</ul>
				<span>Copyright &copy; 2017 <a href="http://jrowley.me/">James Rowley</a></span>
			</div>
		</div>
		<div id="content">
			<h1>How are you feeling today?</h1>
			<div>
				<span class="button" id="b-1"><img src="/images/feeling-1.png" /></span>
				<span class="button" id="b-2"><img src="/images/feeling-2.png" /></span>
				<span class="button" id="b-3"><img src="/images/feeling-3.png" /></span>
				<span class="button" id="b-4"><img src="/images/feeling-4.png" /></span>
				<span class="button" id="b-5"><img src="/images/feeling-5.png" /></span>
			</div>
			<h2 id="thanks-msg">Thanks!</h2>
		</div>
	</body>
</html>