#graphs{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: row;
}

.graph{
	box-sizing: border-box;
	display: block;
	height: 100%;
	flex-grow: 2;
	flex-basis: 0;
	padding: 5%;
	position: relative;
	justify-content: flex-end;
}

.graph h1{
	display: block;
	height: 10%;
	width: 100%;
	font-size: 7vh;
	vertical-align: top;
	margin: 0;
	text-align: center;
	opacity: 0;
	transition: opacity 0.5s;
	min-width: 0;
	max-width: 100%;
	white-space: nowrap;
}
.reveal .graph h1{
	opacity: 1;
}

.keys{
	display: flex;
	height: 10%;
	flex-direction: row;
	opacity: 0;
	transition: opacity 0.5s;
	padding: 10px;
}
.reveal .keys{
	opacity: 1;
}

.key {
	box-sizing: border-box;
	display: block;
	height: 100%;
	flex-grow: 2;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.k1 {
	background-image: url('/images/feeling-1.png');
}
.k2 {
	background-image: url('/images/feeling-2.png');
}
.k3 {
	background-image: url('/images/feeling-3.png');
}
.k4 {
	background-image: url('/images/feeling-4.png');
}
.k5 {
	background-image: url('/images/feeling-5.png');
}

.bars{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	height: 80%;
	padding: 10px;
}

.bar{
	box-sizing: border-box;
	display: flex;
	height: 50%;
	width: 15%;
	max-width: 100px;
	margin: 0 auto;
	background: #ff390c;
}


#action-c{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 64px;
	height: 116px;
	transition: opacity 0.15s;
	opacity: 0;
	z-index: 100;
}
#action-c:hover{
	opacity: 1;
}

#showhide, #buttons-link{
	display: block;
	position: fixed;
	width: 40px;
	height: 40px;
	right: 12px;
	top: 12px;
	border: none;
	background: url('/images/action.png');
	cursor: pointer;
	transition: right 0.5s;
	z-index: 200;
}
#buttons-link{
	top: 64px;
	background: url('/images/buttons.png');
}