html, body{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	min-height: 100%;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Maven Pro', 'Trebuchet MS', sans-serif;
	background: #fff;
}

#action-c{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 64px;
	height: 116px;
	transition: opacity 0.15s;
	opacity: 0;
	z-index: 100;
}
#action-c:hover{
	opacity: 1;
}

#content-link{
	display: block;
	position: fixed;
	width: 40px;
	height: 40px;
	right: 12px;
	top: 12px;
	border: none;
	background: url('/images/action.png');
	cursor: pointer;
	transition: right 0.5s;
	z-index: 200;
}